################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore all bin and obj folders anywhere in the project
**/bin/
**/obj/

# Ignore specific build artifacts
[Bb]in/
[Oo]bj/
